body{
  width: 100vw;
  padding: 0 70px;
  background-color: #eee;
  display: flex;
 justify-self: center;
  align-items: center;
}
#root{
  width: 100%;
 
}
.searchBar{
  width: 100%;
  background-color: #fff;
  margin-top: 50px;
  padding: 30px 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  display: flex;
  gap: 15px;
}
.searchBar input{
  width: 250px;
  height: 40px;
  padding-left: 15px;
  border: 1px solid lightgray !important;
  border-radius: 10px;
}
.searchBar input:focus-visible{
  outline: none;
}
.tableData{
  background-color: #fff;
  margin-top: 50px;
  padding: 30px 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;

}